{% load static %}
<style>
    .hello-msg {
        color: white;
        font-size: 18px;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <img src="{% static 'images/logo.png' %}" class="img-fluid" style="max-height: 40px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
    {% if user.is_authenticated %}
      <span class="hello-msg">
        Hello, {{ user.username }}!
      </span>
      <span><a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a></span>
    {% else %}
      <span><a class="btn btn-outline-light" href="{% url 'login' %}">Login</a></span>
    {% endif %}
</nav>